.container {
    width: 95%;
    margin: 1rem auto;
}

.upload-div{
    display: flex;
    flex-direction: row;
    background: var(--bg-color-2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
}

@media(width >= 840px) {
    .container {
        width: 800px;
    }
}