:root {
  --bg-color-1: #20242c;
  --bg-color-2: #282f39;
  --text-color: #fff;
  --text-second-color: #475469;
  --text-sub-color: #e8e8e8;
  --main-orange-color: #ff6319;
  --second-orange-color: #ff6319;
  --bf-font-sans-serig: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  margin: 0;
  font-family: var(--bf-font-sans-serig);
  background: var(--bg-color-1);
  color:s var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
