.button {
    padding: 10px 20px;
    margin: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--main-orange-color);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:disabled {
    background-color: var(--text-second-color);
    cursor: not-allowed;
  }
  
  .button-danger {
    background-color: #FF1942;
  }
  
  .button:hover:not(:disabled) {
    transition: all .25s ease-out;
    box-shadow: rgba(150, 150, 150, 0.25) 0px 3px 10px;
    filter: brightness(115%);
  }
  
  .button-danger:hover:not(:disabled) {
    background-color: #E50029;
  }
  